@page "/"

<a href="@($"conference/locate")" class="btn btn-primary table-btn">
    <i class="fas fa-edit"></i>Login
</a>

<a href="@($"conference/create")" class="btn btn-primary table-btn">
    <i class="fas fa-edit"></i>Create conference
</a>