@page "/conference/allevent"
@inherits AllEventBase;

<h1>All Event</h1>
<p>
    Go to the specific conference page:
</p>
@if (Conferences == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <ul>
        @foreach (var conference in Conferences)
        {
            <li>
                <a class="col-4" href="@($"conference/display/{conference.Code}")">
                    <i class="fas fa-edit"></i>@conference.Code
                </a>
            </li>
        }
    </ul>
}